* {
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    height: 100vh;
}

main {
    height: 99vh;
    margin: auto;
    max-width: 935px;
}

a { text-decoration: none; }
h1 { margin: 20px 0; }
ul { list-style: none; }

/**
 * Flex rules
 */

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.direction-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.justify-content-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.align-items-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/**
 *
 */

.panel {
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    padding: 11px;
}

#auth { max-width: 350px; }
#mobile { max-width: 454px; }

#mobile img {
    height: 618px;
}

/**
 * Login section
 */
.login-with-fb,
form { width: 100%; }

.register,
form { padding: 30px 20px; }

.login-with-fb { padding: 30px 20px 20px 20px; }

form .sr-only { display: none; }

form input {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #808080;
    margin-bottom: 8px;
    padding: 10px 10px;
    width: 100%;
}

form input::placeholder {
    color: #808080;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

form input:focus {
    border: 1px solid #808080;
    outline: none;
}

form button {
    background-color: #0095f6;
    border-radius: 8px;
    color: #fff;
    font-weight: blod;
    height: 35px;
    margin-top: 10px;
    width: 100%;
opacity: 0.7;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
font-weight: 500;
}

/**
 * Separator login form from login with fb
 */
.separator span {
    background-color: #dbdbdb;
    height: 1px;
    width: calc(100% - 10px);
}

.separator .or {
    color: #5f5f5f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.separator { padding: 0 20px; }
.separator span:first-child { margin-right: 10px;}
.separator span:last-child { margin-left: 10px;}

/**
 * Login with fb section
 */
.login-with-fb a { 
    color: #00a2ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.login-with-fb > a { font-size: 14px;
color: #04001a;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
}
.login-with-fb div a { font-weight: bold; }
.login-with-fb div { margin-bottom: 7px; }
.login-with-fb img { height: 22px;
position: absolute;
right: 242px;
opacity: 0.8;
}
/**
 * Register section
 */
.register * { font-size: 18px;}
.register a { font-size: 15px;
    color: #00a2ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.register p { margin-right: 5px; }

/**
 * App download
 */
.app-download * { font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
}
.app-download { padding: 0px; }
.app-download p { padding: 10px 0; }
.app-download img { 
    height: 42px; 
    margin: 0 4px;
}

/**
 * Footer
 */
footer {
    margin: 0 auto 30px auto;
    max-width: 935px;
}
footer ul { margin-bottom: 10px; }
footer ul li { margin: 0 10px 10px; } 
footer ul li a { color: #808080; }
footer .copyright { color: #808080; }
footer ul li a,
footer .copyright { 
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
 }


/**
 * Media queries
 */

@media screen and (max-width: 767px) {
    main { margin: 30px auto 50px auto; }
    footer .copyright,
    footer ul li a { font-size: 15apx; }
}